<p id="notice"><%= notice %></p>
<% @title = "Raffles index" %>

<h1>Explore Rafflies</h1>

<% @raffles.each do |raffle| %>
<div class="raffle-item">
    <div class="raffle-item-header">
        <h3><%= link_to raffle.title, raffle %></h3>
        <p><span>$ <%= raffle.price %></span></p>
    </div>

    <div class="raffle-item-body">
        <p><%= raffle.description %></p>
        <% if raffle.prizes.any? %>
        <h4>Prizes:</h4>
        <ul>
        <%= render raffle.prizes %>
        </ul>
        <% end %>
        <p><strong>Raffle ends in <%= distance_of_time_in_words(@time, raffle.end_date) %></strong></p>
          <%= render 'reactions/public_resume', raffle: raffle %>
    </div>
</div>
<% end %>
