<p id="notice"><%= notice %></p>
<p><%= alert %></p>
<p><%= flash[:error] %></p>

<div class="">
  <div class="half-width">
    <h1><%= @raffle.title %></h1>
    <h3>$ <%= @raffle.price %> per number</h3>
  </div>
  <% if current_user%>
    <div class="half-width">
      <%= render 'reactions/resume', raffle: @raffle, user: @user %>
    </div>
  <% end %>
</div>

<% if current_user && current_user == @raffle.organizator && !@raffle.has_ended %>
  <% if session[:token] %>
    <%= link_to "Tweet your raffle", tweet_raffle_path(@raffle), method: :post %>
  <% else %>
    <%= link_to "Connect with Twitter", "/auth/twitter" %>
  <% end %>
<% end %>

<div class="raffle-item" style="background-color: <%= ["#8341F8", "#E14658"].sample %>">
    <div class="raffle-item-description">
      <p><%= @raffle.description %></p>
      <br>
      <p>A raffle organized by: <b><%= link_to @raffle.organizator.name, user_path(@raffle.organizator) %></b></p>
    </div>
    <div class="raffle-item-body">
        <% if @raffle.prizes.any? %>
          <h4>Prizes:</h4>
              <% @raffle.prizes.each do |prize| %>
                <div class="prize">
                  <%= render prize %>
                </div>
              <% end %>
        <% end %>
    </div>
    <br>
    <div class="raffle-item-numbers">
        <p><strong><%= @raffle.number_amount - @raffle.numbers.count %> left!</strong> (of <%= @raffle.number_amount %>)</p>
    </div>
</div>
<p><strong>Raffle ends in <%= distance_of_time_in_words(@time, @raffle.end_date) %></strong></p>

<% if @raffle.numbers.any? %>
  <p><strong>Who already participated?</strong></p>
  <ul>
      <% @raffle.numbers.order(:number_in_raffle).each do |number| %>
      <li><%= number.number_in_raffle %> <%= link_to number.user.name, user_path(number.user) %></li>
      <% end %>
  </ul>
<% else %>
<p><strong>Be the first to buy!</strong></p>
<% end %>

<% if current_user && current_user == @raffle.organizator %>
  <% if @raffle.has_winners %>
  <h2>This are the winners</h2>
  <%= render "raffles/winners", raffle: @raffle %>
<% elsif @raffle.has_ended %>
  <h2>Choose winners</h2>
  <%= form_for @raffle, :url => { :action => "choose_winners" }, :html => { :method => "post", :id => "raffle" }  do |f| %>
    <%= submit_tag 'Choose winners' %>
  <% end %>
<% else %>
  <h2>You can add a prize if you want:</h2>
  <%= button_to "Create prize", new_raffle_prize_path(@raffle), remote: true, method: :get, id: "prize-button" %>
  <div class="prize-form"></div>
  <% end %>
<% end %>

<% if current_user && current_user != @raffle.organizator && !@raffle.has_ended%>
  <%= render 'numbers/numbers', raffle: @raffle, sold_numbers: @raffle.numbers.pluck(:number_in_raffle) %>
<% end %>
