<p id="notice"><%= notice %></p>
<p><%= flash[:error] %></p>

<p><strong>Prizes:</strong></p>
<ul>
<%= render @raffle.prizes %>
</ul>

<p>
  <strong>Title:</strong>
  <%= @raffle.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @raffle.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @raffle.end_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @raffle.description %>
</p>

<p>
  <strong>Organizator:</strong>
  <%= link_to @raffle.organizator.name, user_path(@raffle.organizator) %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @raffle.price %>
</p>

<p>
  <strong>Amount of Numbers:</strong>
  <%= @raffle.numbers.count %> / <%= @raffle.number_amount %>
</p>

<p>
  <strong>Participants:</strong>
  <ul>
  <% @raffle.numbers.each do |number| %>
    <li><%= number.number_in_raffle %> <%= link_to number.user.name, user_path(number.user) %>
      <%= link_to 'Destroy', raffle_number_path(@raffle, number), method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
  </ul>
</p>

<% if current_user && current_user.id == @raffle.organizator.id %>
<h2>Add a prize:</h2>
<%= render "prizes/form" %>
<% end %>

<% if current_user %>
  <%= render 'numbers/numbers', raffle: @raffle, sold_numbers: @raffle.numbers.pluck(:number_in_raffle) %>
<% end %>

<br/>

<%= link_to 'Edit', edit_raffle_path(@raffle) %> |
<%= link_to 'Back', raffles_path %>
