<h1>Buy Number</h1>

<%= form_for(@number, url: raffle_numbers_path(@raffle)) do |f| %>
  <% if @number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@number.errors.count, "error") %> prohibited this @number from being saved:</h2>

      <ul>
      <% @number.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%= f.label :user %>
		<%= f.select :user do %>
			<% @users.each do |user| -%>
				<%= content_tag(:option, user.name, value: user.id) %>
			<% end %>
		<% end %>
	</div>

	<div class="field">
		<%= f.label :number_in_raffle %>
		<%= f.select :number_in_raffle do %>
			<% @raffle.number_amount.times do |number| -%>
				<%= content_tag(:option, number + 1, value: number + 1) %>
			<% end %>
		<% end %>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
