<p id="notice"><%= notice %></p>

<div class="options">
<%= render 'options', user: @user %>
</div>

<h1><%= @user.username %></h1>
<div class="container">    
    <div class="profile-pic" style="display: inline-block; vertical-align: middle;">
        <% if current_user == @user%>
            <%= link_to edit_image_path(@user), class: "edit-profile-image", remote: true do %>
            <%= render 'image_profile' %>
            <p>Change Image</p>
            <% end %>
        <% else %>
            <%= render 'image_profile' %>
        <% end %>
    </div>

    <div class="info" style="display: inline-block; vertical-align: middle;">
        <h3><%= @user.name %></h3>
        <h5><%= @user.mail %></h5>
        <h5><%= @user.amount %></h5>
        <h5>Rifas Organizadas: <%= @user.raffles.length %></h5>
    </div>    
</div>

<div class="image-form"></div>

<h2>Rifas organizadas</h2>
<% if @user.raffles.any? %>
<table class="active-raffles-container" style="width:100%; margin: 0 auto;">
    <tr>
        <% @user.raffles.each do |raffle| %>
        <td class="user-active-raffle">
            <ul>
                <li><%= link_to raffle.title, raffle_path(raffle) %></li>
                <li><%= raffle.number_amount - raffle.numbers.count %> left!</strong> (of <%= raffle.number_amount %>)</li>
                <li>Raffle ends in <%= distance_of_time_in_words(@time, raffle.end_date) %></li>
                <li>Number display</li>
                <% if current_user && current_user == @user %>
                <%= link_to 'Delete', raffle, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            </ul>
        </td>
        <% end %>
    </tr>
</table>
<% else %>
<h3>El usuario no tiene rifas activas</h3>
<% end %>
