<p id="notice"><%= notice %></p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Amount available:</strong>
  $<%= @user.amount %>
</p>

<p>
  <strong>Organizing raffles:</strong>
  <ul>
    <% @user.raffles.each do |raffle| %>
      <li><%= link_to raffle.title, raffle_path(raffle) %>
        <% if current_user && current_user == @user %>
          | <%= link_to 'Delete', raffle, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

<%= render 'options', user: @user %>
