<p id="notice"><%= notice %></p>

<p><b>Your current amount:</b><%= @user.amount %></p>

<h1>Requests waiting for approval</h1>

<%= render 'table', requests: @requests.where(approved: false), user: @user, approved: false %>

<h1>Approved Requests</h1>

<%= render 'table', requests: @requests.where(approved: true), user: @user, approved: true %>

<br>

<%= render 'form', request: @request, user: @user %>

<%= link_to 'Back', user_path(@user) %>
