<p id="notice"><%= notice %></p>

<p><b>Your current amount:</b><%= @user.amount %></p>

<h1>Requests waiting for approval</h1>

<% unless @requests.where(approved: false).blank? %>
  <table>
    <thead>
      <tr>
        <th>Created at</th>
        <th>Amount</th>
      </thead>
      </tr>
    <tbody>
      <% @requests.each do |request| %>
        <% unless request.approved %>
          <tr>
            <td><%= request.created_at %></td>
            <td><%= request.amount %></td>
            <td><%= link_to 'Destroy', user_request_path(@user, request), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There aren't pending requests.</p>
<% end %>

<h1>Approved Requests</h1>

<% unless @requests.where(approved: true).blank? %>
  <table>
    <thead>
      <tr>
        <th>Created at</th>
        <th>Approved at</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @requests.each do |request| %>
        <% if request.approved %>
          <tr>
            <td><%= request.created_at %></td>
            <td><%= request.updated_at %></td>
            <td><%= request.amount %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There aren't approved requests.</p>
<% end %>

<br>

<%= render 'form', request: @request, user: @user %>

<%= link_to 'Back', user_path(@user) %>
